<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <% if current_spree_user || @current_guest_user %>
      <li><%=link_to "Wishlists","/wishlists" %></li>
      <% end %>

      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to_cart %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
      <% if current_spree_user %>
      <li><%=link_to "Logout" ,logout_path %></li>
      <% else %>
      <li><%=link_to "Login" ,login_path %></li>
      <li><%=link_to "Register" ,registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>